<div style="padding: 40px">
  <span>Energy</span>
  <div style="width: 300px; margin-top: 20px; margin-bottom: 20px">
    <mat-button-toggle-group [(ngModel)]="filter" name="energyLevel" aria-label="Energy level">
      <mat-button-toggle value="energetic">Energetic</mat-button-toggle>
      <mat-button-toggle value="calm">Calm</mat-button-toggle>
      <mat-button-toggle value="happy">Happy</mat-button-toggle>
      <mat-button-toggle value="sad">Sad</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <button style="margin-left: 20px" color="primary" mat-stroked-button (click)="generatePlaylist()">Generate your playlist!</button>
  <button style="margin-left: 20px" color="primary" mat-stroked-button (click)="combineDailyMixes()">Combine your daily mixes into one!</button>
  <ng-container *ngIf="loading">
    {{loadingPercent | number:'1.0-0'}}%
  </ng-container>
  <ng-container *ngIf="loading">
    <mat-spinner style="width: 200px; height: 200px; margin-left: 20px"></mat-spinner>
  </ng-container>
</div>

